@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@theme {
  --color-main: #FAEFE0;
  --color-secondary: #E8C5A9;
  --color-contrast: #FEFAF6;
  --color-accent: #D8E2CC;
  --font-title: 'Billion Miracles', cursive;
  --font-sans: 'Questrial', sans-serif;
}

@font-face {
  font-family: 'Billion Miracles';
  src: url('./assets/fonts/BillionMiracles.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-main);
  color: #333333;
}