@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Questrial";
  src: url("./assets/fonts/questrial/Questrial-Regular.ttf") format("truetype");
}

:root {
  --color-primary: #FAEFE0;
  --color-secondary: #E8C5A9;
  --color-light: #FEFAF6;
  --color-accent: #D8E2CC;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Questrial", sans-serif;
}